/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: #2d3748 !important;
  scroll-behavior: smooth;
}
.banner {
  background-color: #f7f9fc;
}

.font_Inter {
  font-family: "Inter", sans-serif;
}

.discover-dots-ul {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}
.discover-dots-ul li {
  margin: 0px 4px !important;
  height: auto !important;
}
.dots-discover {
  width: 15px;
  background-color: #ffffff;
  height: 6px;
  border-radius: 20px;
}
.MuiSkeleton-text {
  transform: none !important;
}
/* @media (aspect-ratio: 1/1){
  .aspect-square {

  }
} */

.slick-active .dots-discover {
  background-color: black !important;
}

.slick-arrow {
  display: none !important;
}
